$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

td {
  border: 1px solid #000;
  height: 50px;
  width: 50px;
}

h1 {
  color: #562944;
}

body {
  background-color: #028472;
  text-align: center;
}

.board {
  margin-left: auto;
  margin-right: auto;
}


label {
  display: block;
  font-size: .8em;
}

.box {
  border-radius: 12px;
  box-shadow: 0 0 12px 0 #000;
  color: #C4BE92;
  margin: 0 auto;
  padding: .8em .8em 1em;
  text-align: center;
  width: 8em;

  .turns .wins {
    background-color: transparent;
    border-width: 0;
    color: #fff;
    font-size: 2.4em;
    margin: 0 0 .1em;
    text-align: center;
    width: 100%;
  }
}

aside {
  float: left;
}
